.site-title
  text-decoration: none

.post-title
  margin-bottom: .8rem

.post-link
  display: block
  text-decoration: none
  font-size: 2rem

.post-meta
  color: var(--text-light)
  margin: 0

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom-variables", // Hook to override predefined variables.
  "minima/custom-styles"     // Hook to override existing styles.
